.divider {
  height: 35vh;
  background-image: var(--divider-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tall {
  height: 70vh;
}

.full {
  height: 90vh;
}

.ocean {
  background-image: var(--divider-img-2);
}
